body {

}

div {
  
}

.center {
  text-align: center;
}

img {
  width: 200px;
  /*height: 100px;*/
}

  #headers {
    
  }
    h1, h2 {
      margin: 1px auto; 
      padding: .5em; 
    }

  #main {
    
  }
    #parent-input {
      /*width: 160px;*/
      margin: 0 auto;
      padding: 2em
    }
      #player-input {
        margin-bottom: 1em; 
      }

    #guesses {
      
    }
      #guess-list {
        display: inline-flex;
        /*margin: 0;*/
        list-style: none;
        padding: 1em;
      }
        li {
          margin: 5px; 
          padding: 5px; 
        }

    #menu-btns {
      padding: 2em; 
    }

  #footer {
    width: 100%;
    border-top: solid 2px black;
    background-color: white;
    position: fixed;
    bottom: 0;
  }